.header{
  position: relative;
}
svg.header-logo {
  margin: auto;
}
.header-up {
  display: flex;
  align-items: center;
  background-color: #F5F1F5;
  height: 6vmin;
  max-width: 1280px;
  margin: auto;
}
.header-up-lang {
  display: flex;
  margin-right: auto;
}
.header-up-lang * {
  display: flex;
  margin-right: auto;
}
.header-up-lang > svg {
  padding: 0 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.header-up-lang * {
  margin-right: 10px;
}

.header-up-social * {
  margin-left: 3vh;
}
.header-up-social {
  margin-left: auto;
}

.header-middle {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.header-middle-right {
  margin-left: auto;
}
.header-middle-left {
  margin-right: auto;
}

.header-right-icons > svg {
  margin-left: 1vh;
}
.header-middle-right > svg {
  margin-left: 30px;
}


.header-down {
  max-width: 1480px;
  margin: auto;
  height: 4vmin;
  border-bottom: 2px solid #F5F1F5;
  display: grid;
}

.header-down-categories {
  display: flex;
}
.header-middle-left > a {
  margin-right: 7vmin;
}
.header-down-categories > a {
  margin: auto;
}

.container img {
  margin: auto;
  /* width: 120vmin; */
  width: 54%;
  margin-top: 15px;
}

p.slider-text {
  display: flex;
  justify-content: center;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}