.header{
  /* position: relative; */
}
svg.header-logo {
  margin: auto;
}
.header-up {
  display: flex;
  align-items: center;
  background-color: #F5F1F5;
  height: 6vmin;
  justify-content: center;
}
.header-up-lang {
  display: flex;
  margin-right: auto;
}
.header-up-lang * {
  display: flex;
}
.header-up-lang > svg {
  padding: 0 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.header-up-lang * {
  margin-right: 10px;
}

.header-up-social * {
  margin-left: 30px;
}
.container {
  max-width: 1280px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-up-social {
  display: flex;
  align-items: center;
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
.header-middle-right {
  margin-left: auto;
}
.header-middle-left {
  margin-right: auto;
}

.header-right-icons > svg {
  margin-left: 1vh;
}
.header-middle-right > svg {
  margin-left: 30px;
}


.header-down {
  max-width: 1280px;
  margin: auto;
  height: 4vmin;
  border-bottom: 2px solid #F5F1F5;
  display: grid;
}

.header-down-categories {
  display: flex;
}
.header-middle-left > a {
  margin-right: 7vmin;
}
.header-down-categories > a {
  margin: auto;
}

.container img {
  margin: 15px 0;
  width: 100%;

}

p.slider-text {
  display: flex;
  justify-content: center;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 20px;
}

.block-img {
  width: 50%;
}
img {
  width: 100%;
}
.carousel-container {
  max-width: 1280px;
  margin: auto;
}

.carousel-wrap {
  margin-top: 10px;
  background: #F5F1F5;
  margin-bottom: 45px;
}

.block-1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-text {
  width: 50%;
}
.block-text > p {
  width: 80%;
  margin: auto;
}

button.slick-arrow.slick-prev {
  left: 15px;
  z-index: 1;
}

button.slick-arrow.slick-next {
  right: 15px;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: black;
  font-size: 13px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 60px;
}
.footer-names {
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  margin-top: 15px;
  height: 60px;
}
.footer-icons :last-child {
  margin-left: 20px;
}
.footer-icons > svg {
  cursor: pointer;
}

.footer-links {
  color: white;
  text-decoration: auto;
}
.header-links {
  color: black;
  text-decoration: auto;
}

.carousel-container > p {
  padding-top: 15px;
  font-weight: 600;
}
.slide-price {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}


.slick-prev, .slick-next {
  top: 50%;
}
.content-slider {
  padding: 0 15px;
}

.slide-price > svg {
  cursor: pointer;
}
.slick-slide > div {
  padding: 0 10px;
}
.slick-dots {
  position: unset;
}
.category-name {
  width: 150px;
  text-transform: uppercase;
  margin: 10px 0;
}

.categories {
  max-width: 1280px;
  margin: auto;
  display: flex;
}

.wrap-container {
  width: 150px;
}

.container2 {
  /* max-width: 1280px;
  margin: auto; */
  flex: 1 0 auto;
}

.filters-wrapper {
  max-width: 760px;
}

.filters {
  margin: 10px;
  max-width: 760px;
}

select.select-name {
  margin-right: 10px;
  height: 25px;
  margin-bottom: 10px;
}

body, html {
  height: 100%;
}
div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}